header {
  background-color: #000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ddd;
  padding-inline: 1rem;
}

header .branding {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav a {
  display: inline-block;
  padding: 2rem 0.5rem;
  text-decoration: none;
  position: relative;
}

header nav a:hover {
  background-color: #fff1;
}

header nav a.active::after {
  content: '';
  width: 100%;
  border-bottom: 0.75rem solid #111;
  position: absolute;
  inset-inline: 0;
  inset-block-end: 0;
}

@media (min-width: 768px) {
  header .branding {
    font-size: 2rem;
  }

  header nav a {
    font-size: 1.25rem;
  }
}
