.calculator-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.25rem;
}

.result-section {
  grid-column: 4 span;
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: right;
  font-size: 1.5rem;
}

.calculator-wrapper .btn {
  display: grid;
  place-content: center;
  padding: 1rem;
  background-color: #ddd;
  cursor: pointer;
}

.calculator-wrapper .btn:hover {
  background-color: #eee;
}

.calculator-wrapper .btn-operation {
  background-color: #f5913e;
}

.calculator-wrapper .btn-operation:hover {
  background-color: #ff7756;
}

.btn-0 {
  grid-column: 2 span;
}
